

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

#topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav-admin a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
#topnav-admin a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#topnav-admin a.active {
    background-color: #4CAF50;
    color: white;
}

#topnav-customer a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

/* Change the color of links on hover */
#topnav-customer a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#topnav-customer a.active {
    background-color: #4CAF50;
    color: white;
}

#books-content{
  display: block;
}
